#app {
  font: 14px 'Helvatica Neue', helvatica, Arial, Sans-serif;
  color: #4d4d4d;
  min-width: 100%;
  max-width:100%;
  margin: 0 auto;
}

a.active {
  color:orange;
}

nav {
  padding-top: 20px;
}
